:root {

    --secondary_color_light: #eaeaea;
    --secondary_color: #b1b1b1;
    --secondary_color_dark: #807d7d;

    --tertiary_color: #8edafc;
}

ul  {
    border: 1px solid rgb(10, 230, 21);
}
ul >* {
    border: 1px solid red;
}
#max-container{
/*     background-color: linear-gradient( ); */
}
#max-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: #009688;
    z-index: -1;
}

.my-overflow {
    overflow: 0 auto;
}

#users-container {
    width: 500px;
}

#search {
    background-color:var(--secondary_color_light)
}

.search-btn i {
    color: var(--secondary_color);
/*     padding: 0 20px; */
}


.search-btn  {
border: none;
border-right: 1px solid var(--secondary_color_light);
}


[class*="navbar"] {
    height: 80px;
    background-color: var(--secondary_color_light);
}

img {
    height: 60px;
}

i {
    font-size: 1.4rem;
    margin: 5px;
    color: var(--secondary_color);
}

.subtitle {
    color: var(--secondary_color_dark);
}


#chat-container {
    background-image: url(../img/mine.jpg);
}

#main-chat {
    border: 1px solid greenyellow !important;
}

#notifications {
    background-color: var(--tertiary_color);
}

#notifications i {
    color: var(--tertiary_color);
}