/**** BASE ********************/

:root {
    --secondary_color_light: #eaeaea;
    --secondary_color: #b1b1b1;
    --secondary_color_dark: #676b73;
    --tertiary_color: #8edafc;
    --tertiary_color_light: #8edafc57;
}

img {
    height: 60px;
}

i {
    font-size: 1.4rem;
    margin: 5px;
    color: var(--secondary_color);
}

/**** UTILITIES ********************/

[class*="navbar"] {
    height: 90px;
    background-color: var(--secondary_color_light);
}

.subtitle {
    color: var(--secondary_color);
}

.dark-grey_color {
    color: var(--secondary_color_dark)
}


/**** VUE  CLASSES ********************/
/* sent */
.message.personal {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.friend-card.active {
    background-color: #e9ebeb;
}


/**** MAIN ********************/

#max-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: #009688;
    z-index: -1;
}

/**** ASIDE ********************/

.navbar_aside {
    border: none;
    border-right: 1px solid var(--secondary_color);
}

#notifications {
    background-color: var(--tertiary_color);
}

#notifications i {
    color: var(--tertiary_color);
}

#search {
    background-color: var(--secondary_color_light)
}

.search-btn {
    border: none;
    border-right: 1px solid var(--secondary_color_light);
}

.search-btn i {
    color: var(--secondary_color);
}

#friends-container {
    width: 500px;
}

.friend-card {
    border-bottom: 1px solid var(--secondary_color_light)
}


/**** CHAT ********************/
.navbar-top_chat {
    box-shadow: 0px 1px 3px rgba(87, 86, 86, 0.199);
}

#chat-container {
    background-image: url(../img/mine.jpg);
}

.message-container {
    margin: 2% 8%;
    padding-bottom: 40px;
}

.message {
    background-color: white;
    max-width: 70%;
    min-width: 30%;
    width: fit-content;
}

.message p {
    max-width: 85%;
}

/* dropdown */

.dropdown-message {
    opacity: 0;
    transition: .2s;
}

.message:hover .dropdown-message {
    opacity: 100;
}

.dropdown-message.active {
    opacity: 100;
    color: rgb(59, 58, 58);
}

.dropdown-message-options {
    width: 150px;
    top: 30px;
    right: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    z-index: 5;
}

.dropdown-message.active+.dropdown-message-options *:hover {
    background-color: var(--tertiary_color_light);
    opacity: 100;
}

.message-info {
    border: 1px double greenyellow;
    width: 300px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.199);
}

/* emoticons */
.emoticon {
    font-size: 20px;
    left: 0;
    right: 0;
    padding: 10px 10px 0 10px;
    top: 0px;
    transition: transform .3s;
    opacity: 0%;
    z-index: -20;
    background-color: var(--secondary_color_light);
    box-shadow: 0px -1px 3px rgba(87, 86, 86, 0.199);
}

.emoticon.active {
    transform: translateY(-40px);
    opacity: 100;
    z-index: 100;

}

.emoticon>*:hover {
    transform: scale(110%);
    cursor: pointer;
}

#emoticons-btn:hover i,
#emoticons i:hover {
    transform: scale(120%);
}