<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- indispensabile per far funzionare le media-queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>BOOLZAPP</title>

  <!-- font-family: 'Roboto', sans-serif; -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">

  <!-- font-family: fontawesome -->
  <script src="https://kit.fontawesome.com/a19b158346.js" crossorigin="anonymous"></script>

  <!-- bootstrap -->
  <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <!-- my-css -->
  <link rel="stylesheet" href="css/style.css">

  <!-- vue.Js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
  <div id="app">

    <!-- bg -->
    <div id="max-container" class="container-fluid vh-100 d-flex">

      <!-- MAIN CONTAINER-----------------------------------------   -->
      <div id="main-container" class="my-4 flex-fill">

        <div class="row h-100 justify-content-center">
          <div class="col-10 d-flex h-100">
            <!-- ASIDE friend CONTAINER -->
            <aside id="friends-container" class="d-flex flex-column">

              <!-- NAVBAR -->
              <div class="navbar_aside p-3 flex-shrink-0">
                <div class="card_ w-100 d-flex align-items-baseline gap-1">
                  <div class="img-card-container rounded-5 overflow-hidden me-2">
                    <img src="img/avatar_io.jpg" alt="" class="">
                  </div>
                  <h5 class="flex-fill text-capitalize">keller marika</h5>
                  <i class="fa-solid fa-circle-notch"></i>
                  <i class="fa-solid fa-message"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
              </div>


              <!-- NOTIFICATION -->
              <div id="notifications"
                  class="bunner-card w-100 d-flex align-items-center gap-2 p-3">
                <div
                    class="img-card-container bg-light rounded-5 ratio-1x1 flex-shrink-0">
                  <!-- bell -->
                  <i class="fa-solid fa-bell-slash m-3 "></i>
                </div>

                <div class="bunner-card_info flex-fill align-self-start ">
                  <h5 class="text-capitalize m-0">ricevi notifiche di nuovi
                    messaggi</h5>
                  <small>
                    <a class="dark-grey_color" href="#">ricevi notifiche desktop</a>
                  </small>
                </div>
              </div>

              <!-- SEARCH -->
              <div id="search"
                  class="p-2 d-flex justify-content-between align-items-center gap-4 px-2">
                <!-- deve funzionare con enter -->
                <form action="" class="flex-fill rounded-1 d-flex"
                @submit.prevent="filtredFriends">
                  <button class="search-btn p-1 bg-white">
                    <i class="fa-solid fa-magnifying-glass px-4"></i>
                  </button>
                  <input type="text" name="search" id="search"
                      placeholder="ricerca o inizia una nuova chat"
                      class="w-100 px-3 border-0 bg-white"
                      v-model="search"
                      >
                </form>
              </div>

              <!-- CHAT LIST-->
              <ul id="friends-list" class="flex-fill overflow-auto bg-light m-0 p-0">
                <!--    v-for="(friend,i) in friendsList" -->

                <!-- friend list element___________________________________________________________v-for -->
                <li class="friend-card w-100 d-flex align-items-center gap-1 p-2"
                    v-for="(friend,i) in friends"
                    @click=" checkActiveIndex(i)"
                    :class="(i == activeFriendIndex) ? 'active' : ''">

                  <div class="img-card-container rounded-5 overflow-hidden me-2">
                    <!--  -->
                    <img
                        :src="`img/avatar${friend.avatar}.jpg`"
                        :alt="`${friend.name}'s avatar image`" class="">
                  </div>

                  <div class="card_info flex-fill align-self-start ">
                    <h5 class="text-capitalize m-0">
                      {{friend.name}}</h5>
                    <small class="subtitle"> ultimo messaggio:
                      {{friend.messages[friend.messages.length-1].message}}</small>
                  </div>

                  <small class="subtitle align-self-start">
                    <!-- finalmente qualcosa che mi piace -->
                    {{ extractTimeFromDate(friend.messages[friend.messages.length-1].date)}}
                  </small>
                </li>
              </ul>
            </aside>


            <!-- CHAT CONTAINER -->
            <div id="chat-container" class="flex-fill d-flex flex-column">

              <!-- TOP NAVBAR -->
              <div class=" navbar-top_chat p-3 flex-shrink-0  d-flex align-items-center gap-1  ">

                <div class="no chatting_card d-flex align-items-center gap-1"
                    v-if="activeFriendIndex==-1 ">

                  <div class="card_info align-self-start">
                    <h5 class="text-capitalize m-0">
                      Ultima chat attiva:{{}} </h5>
                    <small class="dark-grey_color">
                      ultimo messaggio: {{ }}</small>
                  </div>
                </div>

                <div class="chatting_card  d-flex align-items-center gap-1"
                    v-else>
                  <div class="img-card-container  rounded-5 overflow-hidden me-2">
                    <img
                        :src="`img/avatar${friends[activeFriendIndex].avatar}.jpg`"
                        :alt="`${friends[activeFriendIndex].name}'s avatar image`">
                  </div>

                  <div class="card_info align-self-start">
                    <h5 class="text-capitalize m-0">{{friends[activeFriendIndex].name}}</h5>
                    <small class="dark-grey_color"> ultimo accesso oggi alle ore:
                      {{extractTimeFromDate(friends[activeFriendIndex].messages[friends[activeFriendIndex].messages.length-1].date)}}</small>
                  </div>
                </div>

                <!-- icons -->
                <div class="top-chat icons-container flex-fill text-end">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <i class="fa-solid fa-paperclip"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>


              </div>

              <!-- MAIN CHAT -->

              <div id="main-chat" class="flex-fill overflow-auto">

                <div class="message-container d-flex flex-column gap-4">

                  <!-- nessuna chart attiva -->
                  <div v-if="activeFriendIndex == -1"
                      class="message rounded-3 d-flex">
                  </div>

                  <!-- CHAT ATTIVA -->
                  <div class="message rounded-3 d-flex"
                      v-else="activeFriendIndex !== -1"
                      v-for="(activefriendMessages,i) in friends[activeFriendIndex].messages"
                      :class= "activefriendMessages.status !== 'sent' ? 'personal' : '' ">
                    <p class=" px-4 py-2 ">{{activefriendMessages.message}}</p>
                    <small
                        class="subtitle align-self-end flex-fill text-end pe-2">{{extractTimeFromDate(activefriendMessages.date)}}</small>
                  </div>
                </div>

              </div>
              <!-- BOTTOM NAVBAR -->
              <div
                  class="navbar-bottom_chat p-2 d-flex justify-content-between align-items-center gap-4 px-4">

                <i class="fa-regular fa-face-smile dark-grey_color"></i>
                <!-- deve funzionare con enter -->
                <form action="" class="flex-fill rounded-2" @submit.prevent=" sendNewPersonalMessageAndReplay">

                  <input 
                  v-if="activeFriendIndex == -1" type="text" name="message" id="message"placeholder="seleziona un amico con cui chattare!"class="w-100 p-3 border-1 rounded-2" disabled>

                  <input 
                  v-else type="text" name="message" id="message"placeholder="scrivi qui il tuo messaggio"class="w-100 p-3 border-0  rounded-2"
                  v-model="newPersonalMessage">
                </form>

                <i class="fa-solid fa-microphone dark-grey_color"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/main.js" type="module"></script>
</body>

</html>

<!-- TO DO:
  CSS
1)rifare il background color del max container in un colpo solo col linear gradient
2)domani esportiamo anche le replays\\
 -->